.blog{
    background:#f8f8f8;
}
.blog-content{
    overflow: hidden;
}
.blog-item{
    width:30%;
    float:left;
    background:#fff;
}
.blog-item.mg{
    margin:0 5%;
}
.blog-item-img img{
    width:100%;
}
.blog-info{
    padding: 0 20px 20px;    
}
.blog-list{
    list-style:none;
    margin:10px 0;
}
.blog-list li{
    display:inline-block;
    margin:0 5px 5px;
}
.blog-list li i{
    color:#6195ff;
}
.blog-title{
    font-weight:bold;
    margin: 20px 0;
}
.blog-desc{
    color:#999;
    margin-bottom:10px;
    line-height:1.5;
}
.blog-link{
    color:#6195ff;
}