.home {
    height:100vh;
    background: url('../images/background/background1.webp');
    background-size: cover;
    position:relative;
}
.home-content{
    /* background: #0000ff; */
    position:absolute;
    width:65%;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    text-align:center;
}
.home .title{
    color:#ffffff;
    font-size:3.5rem;
    text-transform:uppercase;
}
.home .home-description{
    margin:2
    0px 0;
    color:white;
    letter-spacing:2px;
    /* line-height:1.5px; */
}
.home .btn{
    min-width:160px;
    padding:15px 0;
    border-radius:5px;
    border: 0;
    cursor: pointer;
    font-size:20px;
}
.home .btn-start{
    margin-right: 10px;
    background-color:#ffffff;
}
.home .btn-learn{
    background-color: #6195ff;
    color:#ffffff;
}